:root{
    --color-perso: hsl(190, 96%, 31%);
    --color-perso1: hsl(190, 96%, 31%);
    --dark-bg: hsl(0, 0%, 15%);
}

a:hover{
    text-decoration: none;
}

body{
    margin: 0;
    background: var(--dark-bg)!important;
    color: #fff;
    position: relative;
}

.nav-bar-perso
{
    margin-bottom: 5vh;
    box-shadow: 0 2px 2px -2px rgb(255, 255, 255);
}

main{
    min-height: 77vh;
    position: relative;
}

footer{
    padding: 2vh;
    min-height: 10vh;
    background: hsl(210, 10%, 30%);
    margin-top: 9vh;
    position: relative;
    width: 100%;
    bottom: 0;
}


.add-media{
    border-radius: 10px 10px 0 0 !important;
} 

.library-border{
    border-radius: 0 0 10px 10px  !important;
}

.color-perso{
    color: var(--color-perso)!important;
}

.bg-perso{
    background: var(--color-perso)!important;
}

.color-perso:hover{
    color: var(--color-perso1)!important;
}

.bg-perso:hover{
    background: var(--color-perso1)!important;
}

.color-perso:active{
    color: var(--color-perso)!important;
}

.bg-perso:active{
    background: var(--color-perso)!important;
}

.img-profile {
  height: 2rem;
  width: 2rem;
}

.rounded-circle {
    border-radius: 50% !important;
}

.topbar-divider {
    width: 0;
    border-right: 1px solid #adadad;
    height: calc(4.375rem - 2rem);
    margin: auto 1rem;
    border-radius: 50%;
}

.topbar-text-size{
    font-size: 1rem;
}