:root{
    --color-perso: hsl(190, 96%, 31%);
    --color-perso1: hsl(190, 96%, 31%);
    --dark-bg: hsl(0, 0%, 15%);
}

a:hover{
    text-decoration: none;
}

body{
    margin: 0;
    background: var(--dark-bg)!important;
}

h1
{
    color: #fff;
}

header{
    height: 15vh;
    background: url(../img/background.png);
    opacity: 0.7;
}

#navBarMargin
{
    margin-bottom: 5vh;
}

main{
    min-height: 50vh;
}

footer{
    height: 10vh;
    background: hsl(210, 10%, 30%);
    margin-top: 9vh;
    margin-bottom: 0;

}

.star-rating {
    line-height:32px;
    font-size:1.25em;
    color: hsla(51, 100%, 50%, 0.9)
}

.add-media{
    border-radius: 10px 10px 0 0 !important;
} 

.library-border{
    border-radius: 0 0 10px 10px  !important;
}

.color-perso{
    color: var(--color-perso)!important;
}

.bg-perso{
    background: var(--color-perso)!important;
}

.color-perso:hover{
    color: var(--color-perso1)!important;
}

.bg-perso:hover{
    background: var(--color-perso1)!important;
}

.color-perso:active{
    color: var(--color-perso)!important;
}

.bg-perso:active{
    background: var(--color-perso)!important;
}