:root{
    --perso-bg: hsl(0, 0%, 15%);
    --perso-border: #76bbe2;
    --white: #fff!important;
    --gray: #6c757d!important;
    --gray-dark: #343a40!important;
    --secondary: #6c757d!important;
    --light: #f8f9fa!important;
    --dark: #343a40!important;
}

.bg-perso {
    background-color: #343a40;
}

.color-perso{
    color: #ffffff!important;
}

nav a{
    color: #ffffff!important;
}

a{
    color: #299bdd!important;
}

nav{
    background-color: #343a40;
}

.link-perso{
    color: var(--perso-border); 
}

.border-color-perso
{
    background-color: var(--perso-border);
}

body{
    background: hsl(0, 0%, 15%);
    color: #fff;
}

.nav-bar-perso
{
    box-shadow: 0 2px 2px -2px rgb(255, 255, 255);
}

footer{
    background: hsl(210, 10%, 30%);
}


.topbar-divider {
    border-right: 1px solid #adadad;
}
  