:root{
    --perso-bg: hsl(0, 0%, 100%);
    --perso-border: #76bbe2;
    --white: #fff!important;
    --gray: #6c757d!important;
    --gray-dark: #343a40!important;
    --secondary: #6c757d!important;
    --light: #343a40!important;
    --dark: #f8f9fa!important;
}
nav a{
    color: #383838!important;
}

.color-perso{
    color: #383838!important;
}

a{
    color: #299bdd!important;
}

nav{
    background-color: #ffffff!important;
}

.link-perso{
    color: var(--perso-border); 
}

.border-color-perso
{
    background-color: var(--perso-border);
}

body{
    background: hsl(0, 0%, 95%);
    color: rgb(53, 53, 53);
}

.nav-bar-perso
{
    box-shadow: 0 3px 3px -2px rgb(48, 48, 48);
}

footer{
    border-top: 1px solid;
    background: #e2e2e2!important;
}

.topbar-divider {
    border-right: 1px solid #2e2e2e;
}